# Yarn stuff
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Node modules
node_modules/

# Typescript compiled files
dist/

# Typescript temp files
.tsbuildinfo
